 .navbar-brand
  {
    margin: auto;
  }
  .navbar {
    background-color: rgb(3, 8, 79);
  }

  ul {
    margin:auto;
    padding: 25px
    
  }
   
   li a {
   
    color: white;
    margin: 10px;
    font-size:16px;
    cursor: pointer;
  }
  li a:hover:not(.active) {
    background-color:white;
    color: black;
  }
  
  /* li a.active {
    color: white;
    background-color: #04AA6D;
  }  */